/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --bg-img: url(../images/cover-image-light.png);
  --buttons-decoration-color: #353430;
  --buttons-hover-color: rgb(53, 52, 48, 0.4);
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff8dcb;
  --main-title-shadow-color-bigscreen: #ff0070;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --main-font: "IBM Plex mono";
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-img: url(../images/cover-image-light.png);
    --buttons-decoration-color: #353430;
    --buttons-hover-color: rgb(53, 52, 48, 0.4);
    --decor-color: rgba(53, 52, 48, 0);
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --main-title-shadow-color: #ff8dcb;
    --main-title-shadow-color-bigscreen: #ff0070;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --main-font: "IBM Plex mono";
  }
}
